my_flows.json
[{"id":"34a1af70.5ba6d","type":"http in","z":"63c3af8.7ff155","name":"","url":"/pushBouton","method":"get","upload":false,"swaggerDoc":"","x":183.10000610351562,"y":95.80000305175781,"wires":[["77d9589.abf1ba8"]]},{"id":"810deb7.70aad18","type":"http response","z":"63c3af8.7ff155","name":"Ok","statusCode":"","headers":{},"x":530,"y":100,"wires":[]},{"id":"77d9589.abf1ba8","type":"function","z":"63c3af8.7ff155","name":"payload","func":"msg.payload={};\nmsg.payload.value=1;\nmsg.payload.mode=3;\nreturn msg;","outputs":1,"noerr":0,"x":325.1000061035156,"y":99.40000915527344,"wires":[["810deb7.70aad18","cd488f8e.366ab","994538b4.c42318"]]},{"id":"5eb8e8f4.13ffa8","type":"http in","z":"63c3af8.7ff155","name":"HealthCheck","url":"/_ah/health","method":"get","upload":false,"swaggerDoc":"","x":164.10000610351562,"y":183.8000030517578,"wires":[["dffb90bb.ca868"]]},{"id":"dffb90bb.ca868","type":"http response","z":"63c3af8.7ff155","name":"Alive","statusCode":"200","headers":{},"x":310,"y":180,"wires":[]},{"id":"cd488f8e.366ab","type":"debug","z":"63c3af8.7ff155","name":"","active":true,"console":"false","complete":"true","x":530,"y":40,"wires":[]},{"id":"994538b4.c42318","type":"influxdb out","z":"63c3af8.7ff155","influxdb":"c0afc9e9.b49248","name":"InfluxDbBouton","measurement":"bouton","precision":"","retentionPolicy":"","x":560,"y":140,"wires":[]},{"id":"c0afc9e9.b49248","type":"influxdb","z":"","hostname":"35.198.70.135","port":"8086","protocol":"http","database":"indicateurs","name":"","usetls":false,"tls":""}]