my_flows.json
[{"id":"34a1af70.5ba6d","type":"http in","z":"16aa8e00.2461a2","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":163.10000610351562,"y":95.80000305175781,"wires":[["77d9589.abf1ba8"]]},{"id":"810deb7.70aad18","type":"http response","z":"16aa8e00.2461a2","name":"Ok","statusCode":"","headers":{},"x":470,"y":100,"wires":[]},{"id":"77d9589.abf1ba8","type":"function","z":"16aa8e00.2461a2","name":"payload","func":"msg.payload=\"coucou\"\nreturn msg;","outputs":1,"noerr":0,"x":325.1000061035156,"y":99.40000915527344,"wires":[["810deb7.70aad18","cd488f8e.366ab"]]},{"id":"5eb8e8f4.13ffa8","type":"http in","z":"16aa8e00.2461a2","name":"HealthCheck","url":"/_ah/health","method":"get","upload":false,"swaggerDoc":"","x":164.10000610351562,"y":183.8000030517578,"wires":[["dffb90bb.ca868"]]},{"id":"dffb90bb.ca868","type":"http response","z":"16aa8e00.2461a2","name":"Alive","statusCode":"200","headers":{},"x":310,"y":180,"wires":[]},{"id":"cd488f8e.366ab","type":"debug","z":"16aa8e00.2461a2","name":"","active":true,"console":"false","complete":"false","x":510,"y":140,"wires":[]}]
