myData/my_flows.json
[{"id":"34a1af70.5ba6d","type":"http in","z":"dc72b4c4.bd1ce8","name":"","url":"/pushBouton","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["77d9589.abf1ba8"]]},{"id":"810deb7.70aad18","type":"http response","z":"dc72b4c4.bd1ce8","name":"Ok","statusCode":"","headers":{},"x":530,"y":100,"wires":[]},{"id":"77d9589.abf1ba8","type":"function","z":"dc72b4c4.bd1ce8","name":"payload","func":"msg.payload={};\nmsg.payload.value=1;\nmsg.payload.mode=3;\nreturn msg;","outputs":1,"noerr":0,"x":325.1000061035156,"y":99.40000915527344,"wires":[["810deb7.70aad18","cd488f8e.366ab","994538b4.c42318","c47a48e9.da47e8"]]},{"id":"5eb8e8f4.13ffa8","type":"http in","z":"dc72b4c4.bd1ce8","name":"HealthCheck","url":"/_ah/health","method":"get","upload":false,"swaggerDoc":"","x":164.10000610351562,"y":183.8000030517578,"wires":[["dffb90bb.ca868"]]},{"id":"dffb90bb.ca868","type":"http response","z":"dc72b4c4.bd1ce8","name":"Alive","statusCode":"200","headers":{},"x":310,"y":180,"wires":[]},{"id":"cd488f8e.366ab","type":"debug","z":"dc72b4c4.bd1ce8","name":"","active":true,"console":"false","complete":"true","x":530,"y":40,"wires":[]},{"id":"994538b4.c42318","type":"influxdb out","z":"dc72b4c4.bd1ce8","influxdb":"c0afc9e9.b49248","name":"InfluxDbBouton","measurement":"bouton","precision":"","retentionPolicy":"","x":560,"y":140,"wires":[]},{"id":"cb85285c.268e38","type":"comment","z":"dc72b4c4.bd1ce8","name":"test persistance","info":"Ceci est mon commentaire 15/09/2017 11h26","x":560,"y":380,"wires":[]},{"id":"85dfbb53.12c818","type":"comment","z":"dc72b4c4.bd1ce8","name":"xmn1.1","info":"16h04","x":590,"y":240,"wires":[]},{"id":"4a6688f.6a55478","type":"inject","z":"dc72b4c4.bd1ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":40,"wires":[["77d9589.abf1ba8"]]},{"id":"f6d73b84.5b2d08","type":"pushbullet","z":"dc72b4c4.bd1ce8","config":"ee6318d5.cdcbc8","pushtype":"note","title":"btnConnecte","chan":"","name":"PushToXav","x":550,"y":200,"wires":[]},{"id":"79b4413b.965b7","type":"e-mail","z":"dc72b4c4.bd1ce8","server":"smtp.laposte.net","port":"465","secure":false,"name":"ssg.innovation.120@laposte.net","dname":"Send Mail","x":580,"y":280,"wires":[]},{"id":"c47a48e9.da47e8","type":"function","z":"dc72b4c4.bd1ce8","name":"prepareMail","func":"msg.topic=\"btn connecte SSG120\"\nmsg.payload=\"coucou\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["79b4413b.965b7"]]},{"id":"c0afc9e9.b49248","type":"influxdb","z":"","hostname":"35.198.70.135","port":"8086","protocol":"http","database":"indicateurs","name":"","usetls":false,"tls":""},{"id":"ee6318d5.cdcbc8","type":"pushbullet-config","z":"","name":"Telephone Xav"}]