myData/my_flows.json
[{"id":"34a1af70.5ba6d","type":"http in","z":"dc72b4c4.bd1ce8","name":"","url":"/event","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["77d9589.abf1ba8"]]},{"id":"810deb7.70aad18","type":"http response","z":"dc72b4c4.bd1ce8","name":"Ok","statusCode":"","headers":{},"x":530,"y":100,"wires":[]},{"id":"77d9589.abf1ba8","type":"function","z":"dc72b4c4.bd1ce8","name":"payload","func":"// debug with timestamp\nif( typeof msg.payload !== 'object' ){\n    msg.payload={};\n    msg.payload.value=1;\n    msg.payload.mode=3;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":325.1000061035156,"y":99.40000915527344,"wires":[["810deb7.70aad18","cd488f8e.366ab","e553e0d6.64bc4","360197fb.353a18","56031ad0.efac04","761c578a.fcb878"]]},{"id":"5eb8e8f4.13ffa8","type":"http in","z":"dc72b4c4.bd1ce8","name":"HealthCheck","url":"/_ah/health","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["dffb90bb.ca868"]]},{"id":"dffb90bb.ca868","type":"http response","z":"dc72b4c4.bd1ce8","name":"Alive","statusCode":"200","headers":{},"x":270,"y":180,"wires":[]},{"id":"cd488f8e.366ab","type":"debug","z":"dc72b4c4.bd1ce8","name":"","active":true,"console":"false","complete":"true","x":530,"y":40,"wires":[]},{"id":"994538b4.c42318","type":"influxdb out","z":"dc72b4c4.bd1ce8","influxdb":"c0afc9e9.b49248","name":"InfluxDbBouton","measurement":"bouton","precision":"","retentionPolicy":"","x":720,"y":140,"wires":[]},{"id":"cb85285c.268e38","type":"comment","z":"dc72b4c4.bd1ce8","name":"test persistance","info":"Ceci est mon commentaire 15/09/2017 11h26","x":560,"y":400,"wires":[]},{"id":"85dfbb53.12c818","type":"comment","z":"dc72b4c4.bd1ce8","name":"xmn1.1 maj ary 1.4","info":"16h04","x":130,"y":340,"wires":[]},{"id":"4a6688f.6a55478","type":"inject","z":"dc72b4c4.bd1ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":20,"wires":[["77d9589.abf1ba8"]]},{"id":"f6d73b84.5b2d08","type":"pushbullet","z":"dc72b4c4.bd1ce8","config":"c2b7fc9c.5473a","pushtype":"note","title":"btnConnecte","chan":"","name":"PushToXav","x":670,"y":240,"wires":[]},{"id":"79b4413b.965b7","type":"e-mail","z":"dc72b4c4.bd1ce8","server":"smtp.laposte.net","port":"465","secure":false,"name":"ssg.innovation.120@laposte.net","dname":"Send Mail","x":660,"y":280,"wires":[]},{"id":"c47a48e9.da47e8","type":"function","z":"dc72b4c4.bd1ce8","name":"prepareMail","func":"msg.topic=\"btn connecte SSG120\"\nmsg.payload=\"coucou\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["79b4413b.965b7"]]},{"id":"6e6ba8de.be4a88","type":"ifttt out","z":"dc72b4c4.bd1ce8","eventName":"button_pressed","key":"8b07b865.f7c298","x":600,"y":340,"wires":[]},{"id":"e553e0d6.64bc4","type":"function","z":"dc72b4c4.bd1ce8","name":"prepareMail","func":"return msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["6e6ba8de.be4a88"]]},{"id":"adb581ca.cb6aa","type":"pushbullet","z":"dc72b4c4.bd1ce8","config":"ee6318d5.cdcbc8","pushtype":"note","title":"","chan":"","name":"PushAlex","x":660,"y":180,"wires":[]},{"id":"56031ad0.efac04","type":"function","z":"dc72b4c4.bd1ce8","name":"PushToTeam","func":"\nreturn msg;","outputs":1,"noerr":0,"x":476.10003662109375,"y":199.39999389648438,"wires":[["adb581ca.cb6aa","f6d73b84.5b2d08"]]},{"id":"65a12cc8.7e90e4","type":"http in","z":"dc72b4c4.bd1ce8","name":"","url":"/event","method":"post","upload":false,"swaggerDoc":"","x":109,"y":140,"wires":[["77d9589.abf1ba8"]]},{"id":"360197fb.353a18","type":"function","z":"dc72b4c4.bd1ce8","name":"mapping influx DB","func":"return {\n    payload:{\n        mode:+msg.payload.data.mode,\n        value:+msg.payload.data.value\n    }\n};\n/*\nmsg.payload={};\nmsg.payload.value=1;\nmsg.payload.mode=3;\nreturn msg;\n//*/","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["994538b4.c42318"]]},{"id":"fe97680b.aee608","type":"http request","z":"dc72b4c4.bd1ce8","name":"Free sms api","method":"GET","ret":"txt","url":"https://smsapi.free-mobile.fr/sendmsg?user={{{free.user}}}&pass={{{free.pass}}}&msg={{{free.msg}}}","tls":"","x":350,"y":460,"wires":[[]]},{"id":"761c578a.fcb878","type":"function","z":"dc72b4c4.bd1ce8","name":"prepare sms to Alex","func":"msg.free = {\n    user:\"26494022\",\n    pass:\"RlwPCnKTbXXGha\",\n    msg:JSON.stringify(msg.payload)\n};\nreturn msg;","outputs":1,"noerr":0,"x":149.1666717529297,"y":459.0000419616699,"wires":[["fe97680b.aee608"]]},{"id":"cbaa6f66.6b1c4","type":"inject","z":"dc72b4c4.bd1ce8","name":"Bouchon","topic":"","payload":"{\"data\":{\"temperature\":\"21.0\",\"value\":\"33\",\"mode\":\"2\"},\"deviceId\":\"18B8DE\",\"time\":\"1505813563\",\"duplicate\":\"false\",\"snr\":\"27.36\",\"station\":\"0B78\",\"rawData\":\"41a800002102\",\"avgSnr\":\"25.03\",\"lat\":\"44.0\",\"lng\":\"6.0\",\"rssi\":-124,\"seqNumber\":\"18\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["77d9589.abf1ba8"]]},{"id":"c0afc9e9.b49248","type":"influxdb","z":"","hostname":"35.198.70.135","port":"8086","protocol":"http","database":"indicateurs","name":"","usetls":false,"tls":""},{"id":"c2b7fc9c.5473a","type":"pushbullet-config","z":"","name":"Xav"},{"id":"8b07b865.f7c298","type":"ifttt-key","z":""},{"id":"ee6318d5.cdcbc8","type":"pushbullet-config","z":"","name":"Telephone Alex"}]